/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 700px;
  max-height: 700px;
}

body{
  text-align: center;
}

html{
  background: rgb(230, 230, 255);
}

h3{
  padding: 0 2em;
}

iframe{
  display: inline;
  
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
